executor {
  name = 'slurm'
  queueSize = 32
}

profiles {
    apptainer {
        conda.enabled           = false
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        docker.enabled          = false
        apptainer.runOptions    = '-B /fast'
    }
}

env {
    TMPDIR = '/fast/scratch/users/knighto_c/tmp/nextflow'
    APPTAINERENV_TMPDIR = '/fast/scratch/users/knighto_c/tmp/nextflow'
    APPTAINER_CACHEDIR = '/fast/work/users/knighto_c/bin/nextflow/apptainer_cache'
    APPTAINERENV_NXF_TASK_WORKDIR = '/fast/scratch/users/knighto_c/tmp/nextflow'
}

params {
    max_memory = 16.GB
    max_cpus = 8
    max_time = 24.h
    igenomes_base = '/fast/work/groups/ag_romagnani/ref/WES/igenomes'
    genomes {
       'GATK.GRCh38' {
            ascat_alleles           = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/G1000_alleles_WGS_hg38.zip"
            ascat_genome            = 'hg38'
            ascat_loci              = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/G1000_loci_WGS_hg38.zip"
            ascat_loci_gc           = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/GC_G1000_WGS_hg38.zip"
            ascat_loci_rt           = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/ASCAT/RT_G1000_WGS_hg38.zip"
            bwa                     = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/BWAIndex/"
            bwamem2                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/BWAmem2Index/"
            dragmap                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/dragmap/"
            chr_dir                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/Chromosomes"
            cf_chrom_len            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/Length/Homo_sapiens_assembly38.len"
            dbsnp                   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
            dbsnp_tbi               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
            dbsnp_vqsr              = '--resource:dbsnp,known=false,training=true,truth=false,prior=2.0 dbsnp_146.hg38.vcf.gz'
            dict                    = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
            fasta                   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
            fasta_fai               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
            germline_resource       = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz"
            germline_resource_tbi   = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/af-only-gnomad.hg38.vcf.gz.tbi"
            intervals               = "/fast/work/groups/ag_romagnani/ref/WES/Twist_Exome_RefSeq_MitoPanel_hg38_target_sorted.bed"
            known_snps              = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000G_omni2.5.hg38.vcf.gz"
            known_snps_tbi          = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000G_omni2.5.hg38.vcf.gz.tbi"
            known_snps_vqsr         = '--resource:1000G,known=false,training=true,truth=true,prior=10.0 1000G_omni2.5.hg38.vcf.gz'
            known_indels            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
            known_indels_tbi        = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
            known_indels_vqsr       = '--resource:gatk,known=false,training=true,truth=true,prior=10.0 Homo_sapiens_assembly38.known_indels.vcf.gz --resource:mills,known=false,training=true,truth=true,prior=10.0 Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
            ngscheckmate_bed        = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/NGSCheckMate/SNP_GRCh38_hg38_wChr.bed"
            mappability             = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/Control-FREEC/out100m2_hg38.gem"
            pon                     = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz"
            pon_tbi                 = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/1000g_pon.hg38.vcf.gz.tbi"
            sentieon_dnascope_model = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/Sentieon/SentieonDNAscopeModel1.1.model"
            snpeff_cache            = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/snpeff_cache"
            snpeff_db               = 105
            snpeff_genome           = 'GRCh38'
            vep_cache               = "${params.igenomes_base}/Homo_sapiens/GATK/GRCh38/Annotation/vep_cache"
            vep_cache_version       = 110
            vep_genome              = 'GRCh38'
            vep_species             = 'homo_sapiens'
        }
   }
}
